rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isValidStatus(status) {
      return status is string && (status == "draft" || status == "published");
    }

    function isValidArticle(data) {
      return data is map
        && data.keys().hasAll([
          "title",
          "content",
          "status",
          "authorName",
          "authorId",
          "thumbnailPath",
          "category",
          "createdAt",
          "updatedAt",
          "likeCount",
          "commentCount"
        ])

        && data.title is string
        && data.content is string
        && isValidStatus(data.status)
        && data.authorId is string
        && data.authorId.size() > 0
        && data.authorName is string
        && data.authorName.size() >= 2
        && data.authorName.size() <= 50
        && data.thumbnailPath is string
        && data.createdAt is timestamp
        && data.updatedAt is timestamp
        && data.category is string
        && data.category in ["General","Sports","Technology","Business","Health","Entertainment","Politics"]
        && data.likeCount is number
        && data.commentCount is number
        && data.likeCount >= 0
        && data.commentCount >= 0

        && data.title.size() >= 5
        && data.title.size() <= 120
        && data.thumbnailPath.matches('^media\\/articles\\/.+')

        && (!("publishedAt" in data) || data.publishedAt is timestamp);
    }

    function isLikeCountUpdate() {
      return request.auth != null
        && request.resource.data.diff(resource.data).changedKeys().hasOnly(["likeCount", "updatedAt"])
        && request.resource.data.likeCount is number
        && request.resource.data.likeCount >= 0
        && request.resource.data.updatedAt is timestamp
        && (request.resource.data.likeCount == resource.data.likeCount + 1
            || request.resource.data.likeCount == resource.data.likeCount - 1);
    }

    function isCommentCountUpdate() {
      return request.auth != null
        && request.resource.data.diff(resource.data).changedKeys().hasOnly(["commentCount", "updatedAt"])
        && request.resource.data.commentCount is number
        && request.resource.data.commentCount >= 0
        && request.resource.data.updatedAt is timestamp
        && (request.resource.data.commentCount == resource.data.commentCount + 1);
    }

    match /articles/{articleId} {
      allow get, list: if true;

      allow create: if request.auth != null
        && isValidArticle(request.resource.data)
        && request.resource.data.authorId == request.auth.uid;

      allow update: if (
        request.auth != null
        && request.auth.uid == resource.data.authorId
        && isValidArticle(request.resource.data)
        && request.resource.data.createdAt == resource.data.createdAt
      ) || isLikeCountUpdate() || isCommentCountUpdate();

      allow delete: if request.auth != null && request.auth.uid == resource.data.authorId;

      match /reactions/{uid} {
        allow read: if true;

        allow create: if request.auth != null
          && uid == request.auth.uid
          && request.resource.data.keys().hasOnly(["uid","type","createdAt"])
          && request.resource.data.uid == request.auth.uid
          && request.resource.data.type == "like"
          && request.resource.data.createdAt is timestamp;

        allow delete: if request.auth != null
          && uid == request.auth.uid
          && resource.data.uid == request.auth.uid;

        allow update: if false;
      }

      match /comments/{commentId} {
        allow read: if true;

        allow create: if request.auth != null
          && request.resource.data.keys().hasOnly(["uid","deviceId","authorName","text","createdAt"])
          && request.resource.data.uid == request.auth.uid
          && request.resource.data.deviceId is string
          && request.resource.data.authorName is string
          && request.resource.data.text is string
          && request.resource.data.text.size() >= 1
          && request.resource.data.text.size() <= 500
          && request.resource.data.createdAt is timestamp;

        allow delete: if request.auth != null && resource.data.uid == request.auth.uid;

        allow update: if false;
      }
    }

    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid;
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}